<!doctype html>
<html lang="ru">
<head>
  <title>{{ title | default("HiTE PRO") }}</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, target-densityDpi=device-dpi">

  <link rel="shortcut icon" href="/assets/img/favicon.gif" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/img/icon.png">
  {# <link rel="apple-touch-startup-image" href="/launch.png"> #}

  <meta name="apple-mobile-web-app-title" content="HiTE PRO">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- iPhone X (1125px x 2436px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/assets/img/splashes/iphonex_splash.png">
  <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/assets/img/splashes/iphone6_splash.png">
  <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/assets/img/splashes/iphoneplus_splash.png">
  <!-- iPhone 5 (640px x 1136px) -->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/assets/img/splashes/iphone5_splash.png">


  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  {% block styles %}{% endblock %}
  <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

  {% block body %}{% endblock %}
  
  {% block scripts %}{% endblock %}
  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>
</html>
