<div class="slider-categories">
    <a href="#" class="btn btn-simple">Дом</a>
    {% if categories is defined and categories is not empty %}
        {% for category in categories %}
            <a href="#" class="btn btn-simple">{{ category.title }}</a>
        {% endfor %}
    {% endif %}
</div>
