{% if type == 'icon' %}
    <div class="btn edit-btn" data-toggle="modal" data-target="#confirmDelete-{{ name }}">
        {% include 'icons/delete.svg' %}
    </div>
{% elseif type == 'button' %}
    <div class="btn-delete-container">
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelete-{{ name }}">
            Удалить
        </button>
    </div>
{% else %}
    <div class="btn edit-btn" data-toggle="modal" data-target="#confirmDelete-{{ name }}">
        {% include 'icons/delete.svg' %}
    </div>
{% endif %}

<div class="modal fade" id="confirmDelete-{{ name }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel-{{ name }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Вы уверены, что хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-sm btn-confirm-delete" value="{{ name }}" name="delete">Да</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>