<div class="dashboard">

    <div class="counter">
        <div class="display">
            <div class="add">
                {% include 'icons/add.svg' %}
            </div>
        </div>
        <h5 class="dimension">
            Добавить
        </h6>
    </div>

    <div class="divider"></div>

    <div class="counter">
        <div class="display temp">
            {% include 'icons/temp_blue.svg' %}
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
        </div>
        <h5 class="dimension">
            Температура
        </h6>
    </div>

    <div class="divider"></div>

    <div class="counter">
        <div class="display water">
            {% include 'icons/water_blue.svg' %}
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
        </div>
        <h5 class="dimension">
          Влажность
        </h6>
    </div>

</div>
{# dashboard #}