<form class="form-device" action="/categories.php" method="post">
    <div class="section">
        <div class="form-group">
            <label for="selectModelDevice">Тип устройства</label>
            <select class="form-control" name="model" id="selectModelDevice" size="1" disabled>
                <option value="{{ device.model }}">{{ device.title }}</option>
            </select>
            <input type="hidden" name="type" value="device">
            <input type="hidden" name="model" value="{{ device.model }}">
            <input type="hidden" name="id" value="{{ (device.id is defined and device.id) ? device.id : '' }}">
        </div>
    </div>
    {# section #}

    {% if device.protocol == 'old' %}
        <div class="section settings" id="settings-{{ device.model }}">
            <nav class="nav nav-tabs device-connection" role="tablist" data-func="onoff" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.onoff.title }}</div>
                <div class="icon-check{{ (device.serial_onoff ? '' : ' d-none') }}">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test ml-2 mr-2{{ device.serial_onoff ? '' : ' disabled'}}">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-onoff" data-toggle="collapse" href="#collapseOnOff-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOnOff-{{ device.model }}">Настроить</a>
                <input type="hidden" value="{{ device.serial_onoff }}" name="serial_{{ device.model }}_onoff" id="serial_{{ device.model }}_onoff">
                <input type="hidden" value="{{ device.serial_onoff }}" id="serial_{{ device.model }}_onoff_temp">
            </nav>

            <div class="collapse" id="collapseOnOff-{{ device.model }}" data-func="onoff" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.onoff.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect{{ device.serial_onoff ? ' active' : ' disabled'}}">Подключено</div>
                    </div>
                </div>
            </div>

            <nav class="nav nav-tabs device-connection" role="tablist" data-func="on" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.on.title }}</div>
                <div class="icon-check{{ (device.serial_on ? '' : ' d-none') }}">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test ml-2 mr-2{{ device.serial_on ? '' : ' disabled'}}">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-on" data-toggle="collapse" href="#collapseOn-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOn-{{ device.model }}">Настроить</a>
                <input type="hidden" value="{{ device.serial_on }}" name="serial_{{ device.model }}_on" id="serial_{{ device.model }}_on">
                <input type="hidden" value="{{ device.serial_on }}" id="serial_{{ device.model }}_on_temp">
            </nav>

            <div class="collapse" id="collapseOn-{{ device.model }}" data-func="on" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.on.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect{{ device.serial_on ? ' active' : ' disabled'}}">Подключено</div>
                    </div>
                </div>
            </div>

            <nav class="nav nav-tabs device-connection" role="tablist" data-func="off" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.off.title }}</div>
                <div class="icon-check{{ (device.serial_off ? '' : ' d-none') }}">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test ml-2 mr-2{{ device.serial_off ? '' : ' disabled'}}">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-off" data-toggle="collapse" href="#collapseOff-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOff-{{ device.model }}">Настроить</a>
                <input type="hidden" value="{{ device.serial_off }}" name="serial_{{ device.model }}_off" id="serial_{{ device.model }}_off">
                <input type="hidden" value="{{ device.serial_off }}" id="serial_{{ device.model }}_off_temp">
            </nav>

            <div class="collapse" id="collapseOff-{{ device.model }}" data-func="off" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.off.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect{{ device.serial_off ? ' active' : ' disabled'}}">Подключено</div>
                    </div>
                </div>
            </div>
        </div>
        {# section #}
    {% endif %}

    <div class="section">
        <div class="form-group">
            <label for="inputNameDevice">Название</label>
            <input type="text" name="name" class="form-control" id="inputNameDevice" aria-describedby="nameDevice" placeholder="Название устройства" value="{{ device.name }}" required>
        </div>

        <div class="form-group">
            <label for="selectCategoryDevice">Зона</label>
            <select class="form-control" id="selectCategoryDevice" name="category" size="1">
                <option value=""{{ not device.category ? ' selected' : '' }}>Без зоны</option>
                {% for category in categories %}
                    <option value="{{ category.id }}"{{ (category.id == device.category) ? ' selected' : '' }}>{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="selectIconDevice">Пиктограмма</label>
            {#{% if device.icon is defined and device.icon and ('templates/icons/device/'~ device.icon ~'.svg') is ondisk %}#}
                {#<small id="iconDevice" class="form-text text-muted float-right">#}
                    {#{% include "icons/device/" ~ device.icon ~".svg" %}#}
                {#</small>#}
            {#{% endif %}#}
            <select class="form-control" id="selectIconDevice" name="icon" size="1" aria-describedby="iconDevice">
                {% for icon in icons %}
                    <option value="{{ icon }}"{{ (icon == device.icon) ? ' selected' : '' }}>{{ icon }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkMainScreenDevice" value="1" name="main_screen"{{ device.main_screen ? ' checked' : '' }}>
            <label class="form-check-label" for="checkMainScreenDevice">
                Добавить в избранное
            </label>
        </div>

    </div>
    {# section #}

    <button class="btn btn-block btn-primary btn-lg btn-save">
        Сохранить устройство
        {% include "icons/open.svg" %}
    </button>

    {% include "blocks/confirm-delete.twig" with {'type': 'button', 'name': 'device-'~device.id } only %}

</form>
