<form class="form-device" action="/categories.php" method="post">
    <div class="section device-search">
        <div class="btn btn-danger" id="buttonScanDevice">Поиск устройства</div>
        <p class="description d-none" id="search-in-progress">
            Начат поиск устройств...
            Нажмите кнопку управления
            на подключенном устройстве
            <img class="mt-4" src="/assets/img/load.gif" alt="" width="60" height="60">
        </p>
        <p class="description d-none" id="search-repeat">
            Устройства не найдены.<br>
            Попробуйте повторить поиск
        </p>
    </div>

    <div class="section d-none">
        <div class="form-group">
            <label for="selectModelDeviceNew">Тип устройства</label>
            <select class="form-control" id="selectModelDeviceNew" size="1" disabled>
                {% for device in devices %}
                    <option value="{{ device.model }}">{{ device.title }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="type" value="device">
            <input type="hidden" name="protocol" value="new">
            <input type="hidden" value="" name="model" id="selectModelDevice_new">
            <input type="hidden" value="" name="serial_onoff" id="serial_onoff_new">
            <input type="hidden" value="" name="counter" id="inputCounterDevice">
        </div>
    </div>
    {# section #}

    <div class="section d-none">
        <div class="form-group">
            <label for="inputNameDeviceNew">Название</label>
            <input type="text" name="name" class="form-control" id="inputNameDeviceNew" aria-describedby="nameDevice" placeholder="Название устройства" value="" required>
        </div>

        <div class="form-group">
            <label for="selectCategoryDeviceNew">Зона</label>
            <select class="form-control" id="selectCategoryDeviceNew" name="category" size="1">
                <option value="" selected>Без зоны</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="selectIconDeviceNew">Пиктограмма</label>
            <select class="form-control" id="selectIconDeviceNew" name="icon" size="1" aria-describedby="iconDevice">
                {% for icon in icons %}
                    <option value="{{ icon }}"{{ ( icon == 'Без пиктограммы') ? ' selected' : ''}}>{{ icon }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkMainScreenDeviceNew" value="1" name="main_screen">
            <label class="form-check-label" for="checkMainScreenDeviceNew">
                Добавить в избранное
            </label>
        </div>

    </div>
    {# section #}

    <button class="btn btn-block btn-primary btn-lg btn-save d-none">
        Сохранить устройство
        {% include "icons/open.svg" %}
    </button>

</form>

