<form class="form-device" action="/categories.php" method="post">
    <div class="section">
        <div class="form-group">
            <label for="selectModelDeviceOld">Тип устройства</label>
            <select class="form-control" id="selectModelDeviceOld" name="model" size="1" required>
                <option value="" disabled selected>Выберите тип</option>
                {% for device in devices %}
                    <option value="{{ device.model }}">{{ device.title }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="type" value="device">
            <input type="hidden" name="protocol" value="old">
        </div>
    </div>
    {# section #}

    {% for device in devices %}
        <div class="section settings d-none" id="settings-{{ device.model }}">
            <nav class="nav nav-tabs device-connection" role="tablist" data-func="onoff" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.onoff.title }}</div>
                <div class="icon-check d-none">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test disabled ml-2 mr-2">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-onoff" data-toggle="collapse" href="#collapseOnOff-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOnOff-{{ device.model }}">Настроить</a>
                <input type="hidden" value="" name="serial_{{ device.model }}_onoff" id="serial_{{ device.model }}_onoff">
                <input type="hidden" value="" id="serial_{{ device.model }}_onoff_temp">
            </nav>

            <div class="collapse" id="collapseOnOff-{{ device.model }}" data-func="onoff" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.onoff.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect disabled">Подключено</div>
                    </div>
                </div>
            </div>

            <nav class="nav nav-tabs device-connection" role="tablist" data-func="on" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.on.title }}</div>
                <div class="icon-check d-none">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test disabled ml-2 mr-2">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-on" data-toggle="collapse" href="#collapseOn-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOn-{{ device.model }}">Настроить</a>
                <input type="hidden" value="" name="serial_{{ device.model }}_on" id="serial_{{ device.model }}_on">
                <input type="hidden" value="" id="serial_{{ device.model }}_on_temp">
            </nav>

            <div class="collapse" id="collapseOn-{{ device.model }}" data-func="on" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.on.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect disabled">Подключено</div>
                    </div>
                </div>
            </div>

            <nav class="nav nav-tabs device-connection" role="tablist" data-func="off" data-model="{{ device.model }}">
                <div class="name">{{ device.modes.off.title }}</div>
                <div class="icon-check d-none">
                    {% include "icons/check.svg" %}
                </div>
                <button type="button" class="btn btn-sm btn-outline-primary btn-test disabled ml-2 mr-2">Тест</button>
                <a class="nav-item nav-link" id="nav-home-tab-off" data-toggle="collapse" href="#collapseOff-{{ device.model }}" role="button" aria-expanded="false" aria-controls="collapseOff-{{ device.model }}">Настроить</a>
                <input type="hidden" value="" name="serial_{{ device.model }}_off" id="serial_{{ device.model }}_off">
                <input type="hidden" value="" id="serial_{{ device.model }}_off_temp">
            </nav>

            <div class="collapse" id="collapseOff-{{ device.model }}" data-func="off" data-model="{{ device.model }}">
                <div class="process border-bottom">
                    <div class="name process-name">Описание процесса подключения</div>
                    <ol class="process-list">
                        {{ device.modes.off.description|raw }}
                    </ol>

                    <div class="nav nav-pills signals">
                        <div class="btn btn-outline-primary btn-signal">Отправить сигнал</div>
                        <div class="btn btn-outline-primary btn-connect disabled">Подключено</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="section">
        <div class="form-group">
            <label for="inputNameDeviceOld">Название</label>
            <input type="text" name="name" class="form-control" id="inputNameDeviceOld" aria-describedby="nameDevice" placeholder="Название устройства" value="" required>
        </div>

        <div class="form-group">
            <label for="selectCategoryDeviceOld">Зона</label>
            <select class="form-control" id="selectCategoryDeviceOld" name="category" size="1">
                <option value="" selected>Без зоны</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="selectIconDeviceOld">Пиктограмма</label>
            <select class="form-control" id="selectIconDeviceOld" name="icon" size="1" aria-describedby="iconDevice">
                {% for icon in icons %}
                    <option value="{{ icon }}"{{ ( icon == 'Без пиктограммы') ? ' selected' : ''}}>{{ icon }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkMainScreenDeviceOld" value="1" name="main_screen">
            <label class="form-check-label" for="checkMainScreenDeviceOld">
                Добавить в избранное
            </label>
        </div>

    </div>
    {# section #}

    <button class="btn btn-block btn-primary btn-lg btn-save">
        Сохранить устройство
        {% include "icons/open.svg" %}
    </button>

</form>
