<div class="top-bar {{ navclasses | default("") }}">
    <div class="menu-item left">
      <div class="menu">{% include 'icons/menu.svg' %}</div>
      <div class="close">{% include 'icons/close.svg' %}</div>
      <a class="back link-with-loader" href="{{ back_url | default("/") }}">{% include 'icons/back.svg' %}</a>
    </div>
    <a class="text-center col index-link link-with-loader" href="/">{{ navtitle | default("HiTE PRO") }}</a>
    {#<div class="invisible-div">&nbsp;</div>#}
    <a class="menu-item filter text-right link-with-loader" href="/settings.php">
      {% include 'icons/filter.svg' %}
    </a>
</div>
<input type="checkbox" class="d-none" name="menu">
<div class="wrap">
  <div class="submenu">
    <a class="btn btn-dark link-with-loader" href="/device.php">
      {% include 'icons/add_white.svg' %}
      Добавление новых устройств
    </a>
    <a class="btn btn-dark link-with-loader" href="/categories.php">
      {% include 'icons/cat.svg' %}
      Зоны и устройства
    </a>
    <a class="btn btn-dark link-with-loader" href="/scenarios-editing.php">
      {% include 'icons/edit_white.svg' %}
      Сценарии
    </a>
    <a class="btn btn-dark thick link-with-loader" href="/settings.php">
      {% include 'icons/filter.svg' %}
      Настройки
    </a>
    {#<a class="btn btn-dark link-with-loader" href="/signout.php">#}
      {#{% include 'icons/close.svg' %}#}
      {#Выйти#}
    {#</a>#}
  </div>
</div>