{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

{% set navtitle = "Зона" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}

<div class="main-content device-add">

  <form class="form-category" action="/categories.php" method="post">
    <div class="section">
      <h1 class="header">Название</h1>
      <input type="text" name="name" value="{{ (data.category.title is defined and data.category.title) ? data.category.title : '' }}"
             class="form-control" aria-describedby="zoneHelp" placeholder="Название зоны">
      <input type="hidden" name="type" value="category">
      <input type="hidden" name="id" value="{{ (data.category.id is defined and data.category.id) ? data.category.id : '' }}">
    </div>
      {# section #}

    <button class="btn btn-block btn-primary btn-lg btn-save">
      Сохранить зону
        {% include "icons/open.svg" %}
    </button>

      {% if (data.category.id is defined and data.category.id) %}
          {% include "blocks/confirm-delete.twig" with {'type': 'button', 'name': 'category-'~data.category.id } only %}
      {% endif %}
  </form>

{# main-content #}
</div>

{% endblock %}