{# categories, groups, devices #}

{% extends "core/layout.twig" %}

{% block body %}

{% set navtitle = "Зоны и устройства" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}

<div class="main-content categories">


    <div class="section">

        <div class="line room">
            <div class="title">
                Избранное
            </div>
            <div class="btn edit-btn">
                <a class="link-with-loader" href="/favourites.php">
                    {% include 'icons/edit.svg' %}
                </a>
            </div>
            <div class="btn edit-btn invisible"></div>
            <div class="btn edit-btn invisible"></div>
        </div>

    </div>
    {# section #}

    <div class="section">

        <form class="form-categories" action="/categories.php" method="post">

            {% if data.categories is defined and data.categories is not empty %}
            {% for category in data.categories %}
                <div class="line room" data-id="{{ category.id }}">
                    <div class="title">
                        {{ category.title }}
                    </div>
                    <div class="btn edit-btn">
                        <a class="link-with-loader" href="/category.php?id={{ category.id }}">
                            {% include 'icons/edit.svg' %}
                        </a>
                    </div>
                    {% include "blocks/confirm-delete.twig" with {'type': 'icon', 'name': 'category-'~category.id } only %}
                    {% if (loop.index == 1) %}
                        <div class="btn edit-btn raise_priority_category invisible">
                            {% include 'icons/arrow_up_invisible.svg' %}
                        </div>
                    {% else %}
                        <div class="btn edit-btn raise_priority_category">
                            {% include 'icons/arrow_up.svg' %}
                        </div>
                    {% endif %}
                </div>

                {% set cat_device = 0 %}

                {% for device in data.devices %}
                    {% if device.category == category.id %}
                        {% set cat_device = cat_device + 1 %}
                        <div class="line object" data-id="{{ device.id }}" data-category="{{ category.id }}">
                            {% if device.icon is defined and device.icon and ('templates/icons/device/'~ device.icon ~'.svg') is ondisk %}
                                {% include 'icons/device/'~ device.icon ~'.svg' %}
                            {% else %}
                                {% include 'icons/question_2.svg' %}
                            {% endif %}
                            <div class="title">
                                {{ device.name }}
                            </div>
                            <div class="btn edit-btn">
                                <a class="link-with-loader" href="/device.php?id={{ device.id }}">
                                    {% include 'icons/edit.svg' %}
                                </a>
                            </div>
                            {% include "blocks/confirm-delete.twig" with {'type': 'icon', 'name': 'device-'~device.id } only %}
                            {% if (cat_device == 1) %}
                                <div class="btn edit-btn raise_priority_device invisible">
                                    {% include 'icons/arrow_up_invisible.svg' %}
                                </div>
                            {% else %}
                                <div class="btn edit-btn raise_priority_device">
                                    {% include 'icons/arrow_up.svg' %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            {% endfor %}
            {% endif %}

            {% if data.no_category is defined and data.no_category %}
                <div class="line room">
                    <div class="title">
                        Без зоны
                    </div>
                    <div class="btn edit-btn invisible"></div>
                    <div class="btn edit-btn invisible"></div>
                    <div class="btn edit-btn invisible"></div>
                </div>

                {% for device in data.devices %}
                    {% if not device.category %}
                        <div class="line object">
                            {% if device.icon is defined and device.icon and ('templates/icons/device/'~ device.icon ~'.svg') is ondisk %}
                                {% include 'icons/device/'~ device.icon ~'.svg' %}
                            {% else %}
                                {% include 'icons/question_2.svg' %}
                            {% endif %}
                            <div class="title">
                                {{ device.name }}
                            </div>
                            <div class="btn edit-btn">
                                <a class="link-with-loader" href="/device.php?id={{ device.id }}">
                                    {% include 'icons/edit.svg' %}
                                </a>
                            </div>
                            {% include "blocks/confirm-delete.twig" with {'type': 'icon', 'name': 'device-'~device.id } only %}
                            <div class="btn edit-btn invisible"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </form>

    </div>
    {# section #}

    {# <div class="section"> #}
        {% if data.categories is defined and data.categories is not empty %}
            <a class="line line-add top-margin link-with-loader" href="/device.php">
                <div class="btn edit-btn add">
                    {% include 'icons/add.svg' %}
                </div>

                <div class="line-name">
                    Добавить устройство
                </div>

            </a>
        {% endif %}

        <a class="line line-add top-margin link-with-loader" href="/category.php">
             <div class="btn edit-btn add">
                {% include 'icons/add.svg' %}
            </div>

            <div class="line-name">
                Добавить зону
            </div>
            
        </a>
    {# </div> #}

</div>


{% endblock %}