{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

{% set navtitle = "Устройство" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}

<div class="main-content device-add">

        {% if (data.device.id is defined and data.device.id and data.device.protocol is defined and (data.device.protocol == 'old' or data.device.protocol == 'new')) %}
            {% include "blocks/device-id.twig" with {'device': data.device, 'categories': data.categories, 'icons': data.icons } only %}

        {% else %}
            <ul class="nav nav-pills search-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-automatic-tab" data-toggle="pill" href="#pills-automatic" role="tab" aria-controls="pills-automatic" aria-selected="false">Автоматический поиск</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-manual-tab" data-toggle="pill" href="#pills-manual" role="tab" aria-controls="pills-manual" aria-selected="true">Ручная настройка</a>
                </li>
            </ul>
            <button class="btn btn-block btn-primary mt-3 mb-1" type="button" data-toggle="collapse" data-target="#collapseGuide" aria-expanded="false" aria-controls="collapseGuide">
                Инструкция по добавлению устройств
            </button>
            <div class="collapse" id="collapseGuide">
                <div class="section">
                    <div class="process">
                        <div class="name process-name">Описание процесса подключения</div>
                        <ol class="process-list">
                            <li>Нажмите кнопку на приемнике</li>
                            <li>Нажмите кнопку отправить сигнал</li>
                            <li>Если приемник принял сигнал и записал в память, повторное нажатие кнопки отправить сигнал будет управлять устройством</li>
                            <li>Еще раз нажмите отправить сигнал, чтобы проверить, работает ли устройство</li>
                            <li>Если все работает, нажмите "Подключено"</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane show active" id="pills-automatic" role="tabpanel" aria-labelledby="pills-automatic-tab">
                    {% include "blocks/device-add-new.twig" with {'devices': data.devices.new, 'categories': data.categories, 'icons': data.icons} only %}
                </div>
                <div class="tab-pane" id="pills-manual" role="tabpanel" aria-labelledby="pills-manual-tab">
                    {% include "blocks/device-add-old.twig" with {'devices': data.devices.old, 'categories': data.categories, 'icons': data.icons} only %}
                </div>
            </div>

        {% endif %}

{# main-content #}
</div>

{% endblock %}