{# editing #}
{% extends "core/layout.twig" %}

{% block body %}

  {% include "blocks/topbar.twig" %}

  <div class="main-content">

    <div class="dashboard">

      <div class="counter">
        <div class="display">
            <div class="add">
                {% include 'icons/add.svg' %}
            </div>
        </div>
        <h5 class="dimension">
          Добавить
        </h6>
      </div>

    <div class="divider"></div>

    <div class="counter">
        <div class="display temp">
            {% include 'icons/temp_blue.svg' %}
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
        </div>
        <h5 class="dimension">
            Температура
        </h6>
    </div>

    <div class="divider"></div>

    <div class="counter">
        <div class="display water">
            {% include 'icons/water_blue.svg' %}
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
        </div>
        <h5 class="dimension">
          Влажность
        </h6>
    </div>

    </div>
    {# dashboard #}

    <div class="device-section">
      <h1 class="header">Устройства</h1>
      <div class="device-buttons">

        <a class="btn btn-outline-danger link-with-loader" href="/device.php">
            <div class="add">
                {% include 'icons/add.svg' %}
            </div>
        </a>

        <a class="btn btn-outline-danger chandelier">
          <div class="content">
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
              {% include 'icons/lustr_white.svg' %}
            <h2 class="device-name">Люстра</h2>
            </div>
        </a>

        <a class="btn btn-outline-danger lamp">
          <div class="content">
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
            {% include 'icons/bra.svg' %}
            <h2 class="device-name">Бра</h2>
          </div>
        </a>

      </div>
    </div>
    {# section #}

     <div class="device-section">
      <h1 class="header">Сценарии</h1>
      <div class="device-buttons">

        <a class="btn btn-outline-danger link-with-loader" href="/scenario-addition.php">
            <div class="add">
                {% include 'icons/add.svg' %}
            </div>
        </a>
      
        <a class="btn btn-outline-danger power">
          <div class="content">
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
            {% include 'icons/power.svg' %}
            <h2 class="device-name">Выключить  все</h2>
          </div>
        </a>

        <a class="btn btn-outline-danger drapes">
          <div class="content">
            <div class="pen">
                {% include 'icons/edit.svg' %}
            </div>
            {% include 'icons/drapes.svg' %}
            <h2 class="device-name">Закрыть шторы</h2>
          </div>
        </a>


      </div>
      

    </div>
    {# section #}

</div>
{# main-content #}

  {% include "blocks/bottom-row.twig" %}

{% endblock %}