{# categories, groups, devices #}

{% extends "core/layout.twig" %}

{% block body %}

{% set navtitle = "Избранное" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}

<div class="main-content categories">

    <form class="form-categories" action="/categories.php" method="post">

        <div class="section">

            <input type="hidden" name="type" value="favourites">

            {% for device in data.devices %}

                <div class="line object" data-id="{{ device.id }}" data-category="{{ category.id }}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkMainScreenDevice_{{ device.id }}" value="{{ device.id }}" name="main_screen[{{ device.id }}]"{{ device.main_screen ? ' checked' : '' }}>
                        <label class="form-check-label" for="checkMainScreenDevice_{{ device.id }}"></label>
                    </div>

                    {% if device.icon is defined and device.icon and ('templates/icons/device/'~ device.icon ~'.svg') is ondisk %}
                        {% include 'icons/device/'~ device.icon ~'.svg' %}
                    {% else %}
                        {% include 'icons/question_2.svg' %}
                    {% endif %}
                    <div class="title favourite">
                        {{ (data.categories[device.category] is defined) ? data.categories[device.category].title : 'Без зоны' }}&nbsp;/&nbsp;{{ device.name }}
                    </div>

                </div>

            {% endfor %}


        </div>
        {# section #}

        <button class="btn btn-block btn-primary btn-lg btn-save">
            Сохранить избранное
            {% include "icons/open.svg" %}
        </button>

    </form>

</div>


{% endblock %}