{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

{% set navtitle = "Вход" %}
{% set navclasses = "signin" %}

<div class="main-content account-page text-center">

  <form action="/forgot.php" method="post">
    <img class="mb-5" src="/assets/img/logo.png" alt="" width="300" height="69">
    {% if data.quest is defined and data.quest %}
    <input type="hidden" name="email" value="{{ data.email }}">
    <input type="text" name="answer" id="inputAnswerSignup" class="form-control" placeholder="{{ data.quest }}?" required="" autofocus="" autocomplete="off">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" name="passwordrec" id="inputPasswordSignup" class="form-control"  placeholder="Новый пароль" required="" autocomplete="off">
    {% else %}
    <label for="inputEmail" class="sr-only">Электронная почта</label>
    <input type="email" name="email" id="inputEmailForgot" class="form-control" placeholder="Электронная почта" required="" autofocus="" autocomplete="off">
    {% endif %}
    {% if data.error is defined and data.error %}
      <div class="alert alert-danger mt-2" role="alert">
          {{ data.error }}
      </div>
    {% endif %}
    <div class="mt-5">
      <button class="btn btn-lg btn-primary btn-block link-with-loader" type="submit">Восстановить</button>
    </div>
    <div class="mt-4">
      <a class="btn btn-lg btn-outline-primary btn-block btn-white link-with-loader" href="/signin.php">Авторизация</a>
    </div>
    <span></span>
  </form>

  {# section #}

{# main-content #}
</div>

{% endblock %}