{% extends "core/layout.twig" %}
{% set title = "App" %}

{% block body %}


  {% include "blocks/topbar.twig" %}

  <div class="main-content index">

    <div class="slider-devices">

      {% for category in data.categories %}
        <div class="slide-category">

          {% set device_num_in_row = 1 %}

          {% for device in data.devices.sensor %}
              {% if device.category == category.id or category.id == 'home' or (category.id == 'favourites' and device.main_screen) %}
                  {% if device_num_in_row == 1 %}
                      <div class="dashboard">
                  {% endif %}

                  <div class="counter" data-id="{{ device.id }}">
                      <div class="display {% if device.type == 'temperature' %}temp{% elseif device.type == 'humidity' %}water{% elseif device.type == 'illumination' %}light{% endif %}">
                          {% if device.type == 'temperature' %}
                              {% include 'icons/temp_blue.svg' %}
                          {% elseif device.type == 'humidity' %}
                              {% include 'icons/water_blue.svg' %}
                          {% elseif device.type == 'illumination' %}
                              {% include 'icons/light_blue.svg' %}
                          {% endif %}
                          <div class="value">
                              <span class="lastinfo">{{ device.lastinfo }}</span>{% if device.type == 'temperature' %}<span>°</span>{% elseif device.type == 'humidity' %}<span class="unit"> %</span>{% elseif device.type == 'illumination' %}<span class="unit"> %</span>{% endif %}
                          </div>
                      </div>
                      <h5 class="dimension">
                          {{ device.name }}
                      </h5>
                  </div>

                  {% if device_num_in_row == 3 %}
                      </div>
                      {% set device_num_in_row = 1 %}
                  {% else %}
                      <div class="divider"></div>
                      {% set device_num_in_row = device_num_in_row + 1 %}
                  {% endif %}
              {% endif %}
          {% endfor %}

          {% if device_num_in_row != 1 %}
              {% for device_num in 0..(3-device_num_in_row) %}
                  <div class="counter"></div>
                  {#<div class="divider"></div>#}
              {% endfor %}
              </div>
          {% endif %}

          <div class="device-section">
            <h2 class="header">Устройства</h2>

              {% set device_num_in_row = 1 %}

              {% for device in data.devices.switch %}
                  {% if device.category == category.id or category.id == 'home' or (category.id == 'favourites' and device.main_screen) %}
                      {% if device_num_in_row == 1 %}
                        <div class="device-buttons">
                      {% endif %}
                    <a class="btn{{ (device.protocol == 'new') ? ' btn-switch-new' : ' btn-switch-old btn-outline-danger' }}{{ (device.protocol == 'new' and device.lastinfo) ? ' active' : '' }}{{ (device.protocol == 'new') ? ' link-with-loader' : '' }}" data-id="{{ (device.protocol == 'new') ? device.id : device.serial_onoff }}" data-protocol="{{ device.protocol }}">
                      <div class="content">
                        <h4 class="status">
                            {% if device.protocol == 'new' %}
                                {{ (device.lastinfo) ? 'ON' : 'OFF' }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </h4>
                          {% if device.icon is defined and device.icon and ('templates/icons/device/'~ device.icon ~'.svg') is ondisk %}
                              {% include 'icons/device/'~ device.icon ~'.svg' %}
                          {% else %}
                              {% include 'icons/question_2.svg' %}
                          {% endif %}
                        <h2 class="device-name">{{ device.name }}</h2>
                      </div>
                    </a>
                      {% if device_num_in_row == 3 %}
                        </div>
                          {% set device_num_in_row = 1 %}
                      {% else %}
                          {% set device_num_in_row = device_num_in_row + 1 %}
                      {% endif %}
                  {% endif %}
              {% endfor %}

              {% if device_num_in_row != 1 %}
              {% for device_num in 0..(3-device_num_in_row) %}
                <a class="btn btn-switch-new invisible"></a>
              {% endfor %}
                </div>
              {% endif %}

        </div>
          {# section #}
        </div>

      {% endfor %}
    </div>

</div>
{# main-content #}

<div class="slider-categories">
    {% for category in data.categories %}
        <a class="btn btn-simple">{{ category.title }}</a>
    {% endfor %}
</div>

{% raw %}
<script>
    setInterval(function(){
        $.post("index-ajax.php", {dataType: 'json', type: 'device', update_lastinfo: true})
            .done(function (data) {
                if (typeof data.devices !== "undefined") {
                    for (var i in data.devices) {
                        if (typeof data.devices[i].id !== "undefined" && typeof data.devices[i].type !== "undefined" && typeof data.devices[i].lastinfo !== "undefined") {
                            if (data.devices[i].type == 'switch') {
                                if (data.devices[i].lastinfo == '1'){
                                    $('.btn-switch[data-id="'+data.devices[i].id+'"]').addClass('active').find('.status').html('ON');
                                } else {
                                    $('.btn-switch[data-id="'+data.devices[i].id+'"]').removeClass('active').find('.status').html('OFF');;
                                }
                            } else {
                                $('.counter[data-id="'+data.devices[i].id+'"]').find('.lastinfo').html(data.devices[i].lastinfo);
                            }
                        }
                    }
                }
            });
    }, 5000);
</script>
{% endraw %}

{% endblock %}