{# categories, groups, devices #}

{% extends "core/layout.twig" %}

{% block body %}

{% set navtitle = "Настройка сценариев" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}

<div class="main-content categories">

    {# <div class="section"> #}
        <div class="line line-scenario">
            {% include 'icons/off_mini.svg' %}
            <div class="title">
                Выключить всё
            </div>
            <div class="btn edit-btn">
                {% include 'icons/edit.svg' %}
            </div>
            <div class="btn edit-btn">
                {% include 'icons/delete.svg' %}
            </div>
        </div>

        <div class="line line-scenario">
            {% include 'icons/drapes.svg' %}
            <div class="title">
                Закрыть шторы
            </div>
            <div class="btn edit-btn">
                {% include 'icons/edit.svg' %}
            </div>
            <div class="btn edit-btn">
                {% include 'icons/delete.svg' %}
            </div>
        </div>

    {# </div> #}
    {# section #}

    {# <div class="section"> #}
        <a class="line line-add top-margin link-with-loader" href="/scenario-addition.php">
             <div class="btn edit-btn add">
                {% include 'icons/add.svg' %}
            </div>

            <div class="line-name">
                Добавить сценарий
            </div>
            
        </a>
    {# </div> #}


</div>


{% endblock %}