{#  #}

{% extends "core/layout.twig" %}

{% block body %}

{% set navtitle = "Добавление сценария" %}
{% set navclasses = "editing" %}
{% include "blocks/topbar.twig" %}


<div class="main-content scenario">

    <div class="section">
        <h1 class="header">
            Название
        </h1>
        <input type="name" class="form-control" id="drapes" aria-describedby="drapes" placeholder="Закрыть шторы">

        <h1 class="header">
            Зона
        </h1>
        <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Столовая
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </div>

        <h1 class="header">Пиктограмма</h1>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% include "icons/drapes.svg" %}
                Шторы
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Добавить в избранное
        </label>
        </div>
    </div>
    {# section #}

    <div class="scenario-condition">
        <h1 class="name">
            Условие
        </h1>

        <div class="nav nav-tabs three-pills" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="by-press-tab" data-toggle="tab" href="#by-press" role="tab" aria-controls="by-press" aria-selected="true">По нажатию</a>
            <a class="nav-item nav-link" id="by-time-tab" data-toggle="tab" href="#by-time" role="tab" aria-controls="by-time" aria-selected="false">По времени</a>
            <a class="nav-item nav-link" id="by-data-tab" data-toggle="tab" href="#by-data" role="tab" aria-controls="by-data" aria-selected="false">По датчику</a>
        </div>
        <div class="tab-content" id="navpills-tabContent">
            <div class="tab-pane fade section show active" id="by-press" role="tabpanel" aria-labelledby="by-press-tab">

                <div class="line line-simple ">
                
                    {% include "icons/went.svg" %}
                    <div class="name">Вытяжка</div>
                </div>

                <div class="double-dropdown">
                    <div class="first">
                        <h1 class="header">
                        Действие
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Включение
                        </button>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                    <div class="second">
                        <h1 class="header">
                        Продолжительность
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            5 минут
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="tab-pane fade" id="by-time" role="tabpanel" aria-labelledby="by-time-tab">

                <div class="line line-simple for-time">
                    <div class="btn edit-btn">
                            {% include 'icons/clock.svg' %}
                    </div>
                    <div class="line-name">Начало в</div>

                    <div class="dropdown dropdown-simple">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            14:00
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

                <div class="line line-simple for-time ending border-top">
                    <div class="line-name">
                        Окончание в 
                    </div>

                    <div class="dropdown dropdown-simple">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            16:00
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu dropdown-menu-right-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

                <div class="line line-simple for-time border-top border-bottom">
                    <div class="btn edit-btn">
                        {% include 'icons/calendar.svg' %}
                    </div>
                    <div class="line-name">
                        Дни
                    </div>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Пн
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Вт
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Ср
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Чт
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Пт
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Сб
                        </label>
                        <label class="btn btn-simple btn-outline-primary">
                            <input type="checkbox" checked autocomplete="off">Вс
                        </label>
                    </div>
                </div>

                <hr>

                <div class="section m-0">
                <div class="line line-simple ">
                    {% include "icons/went.svg" %}
                    <div class="name">Вытяжка</div>
                </div>

                <div class="double-dropdown">
                    <div class="first">
                        <h1 class="header">
                        Действие
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Включение
                        </button>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                    <div class="second">
                        <h1 class="header">
                        Продолжительность
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            5 минут
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
            {# tab-pane #}

            <div class="tab-pane fade section" id="by-data" role="tabpanel" aria-labelledby="by-data-tab">

                <div class="line line-simple temp">
                    {% include "icons/temp_grey.svg" %}
                    <div class="name">Температура</div>
                </div>

                <div class="double-dropdown">
                    <div class="first">
                        <h1 class="header">
                        Условие
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Больше
                        </button>
                        <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                    <div class="second">
                        <h1 class="header">
                        Температура
                        </h1>
                        <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            22°
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </div>
                    </div>
                </div>
                

                </div>
                {# section #}

                <hr>

                <a class="line line-add" href="/scenario-addition.php">
                    <div class="btn edit-btn add">
                        {% include 'icons/add.svg' %}
                    </div>

                    <div class="line-name">
                        Добавить кнопку или датчик
                    </div>
                </a>

            </div>
            {# tab-pane #}

        </div>

        <hr>
        <a class="line line-add" href="/scenario-addition.php">
             <div class="btn edit-btn add">
                {% include 'icons/add.svg' %}
            </div>

            <div class="line-name">
                Добавить исполнитель
            </div>
            
        </a>

        <div class="btn btn-block btn-primary btn-lg btn-save">
            Добавить сценарий
            {% include "icons/open.svg" %}
        </div>

    </div>
    {# main-content? #}


{% endblock %}