{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

    {% set navtitle = "Настройки" %}
    {% set navclasses = "editing" %}
    {% include "blocks/topbar.twig" %}

    <div class="main-content">

        {% if data.success %}
            <div class="btn btn-success errors">
                <label>{{ data.success }}</label>
            </div>
        {% endif %}

        {% if data.errors %}
            <div class="btn btn-danger errors">
                <ul class="">
                    {% for error in data.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form enctype="multipart/form-data" action="" method="post">
            <div class="section">
                <div class="form-group">
                    <label for="selectMain">Главный экран</label>
                    <select class="form-control" id="selectMain" name="main" size="1" required>
                        {% for category in data.categories %}
                            <option value="{{ category.id }}"{{ category.id == data.user.main ? ' selected' : '' }}>{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {# section #}

            <div class="section">
                <div class="form-group">
                    <label for="dbFile">Загрузка бд</label>
                    <input class="form-control" type="file" name="dbFile" id="dbFile">
                </div>
                <div class="form-group">
                    <a href="/src/getfile.php" class="btn btn-block btn-primary">Скачать</a>
                </div>
            </div>
            {# section #}

            <div class="section">
                <div class="form-group">
                    <label for="portMode">Изменение режима порта</label>
                    <select class="form-control" name="portMode" id="portMode" size="1">
                        <option selected disabled>-</option>
                        <option value="lan"
                                {% if data.settings and data.settings.network == 'lan' %}selected {% endif %}>LAN
                        </option>
                        <option value="van"
                                {% if data.settings and data.settings.network == 'van' %}selected {% endif %}>VAN
                        </option>
                    </select>
                </div>
            </div>
            {# section #}

            <div class="section">
                <div class="form-group">

                    <label>Подключение к Wi-Fi</label>
                    <div class="section device-search">
                        <div class="btn btn-danger" id="buttonScanNetwork">Поиск сетей</div>
                        <p class="description d-none" id="search-in-progress">
                            Идёт поиск сетей...
                            <img class="mt-4" src="/assets/img/load.gif" alt="" width="60" height="60">
                        </p>
                        <p class="description d-none" id="search-repeat">
                            Wi-Fi сети не найдены.<br>
                            Попробуйте повторить поиск
                        </p>
                    </div>


                    <div class="section networks-list d-none">
                        <div class="process d-none">
                            <div class="name process-name">Описание</div>
                            <ol class="process-list">
                                <li>Описание</li>
                            </ol>
                        </div>
                        <div class="form-group">
                            <ul class="networks" id="networks">
                            </ul>
                            <input class="form-group form-control" type="text" name="password" placeholder="Пароль">
                            <div class="form-group">
                                <div class="btn btn-block btn-primary" id="tryToConnect">Подключение</div>
                            </div>
                        </div>
                    </div>


                    <div class="section device-search d-none" id="connect-section">
                        <p class="description d-none" id="connect-in-progress">
                            Подключение...
                            <img class="mt-4" src="/assets/img/load.gif" alt="" width="60" height="60">
                        </p>
                    </div>


                    <div class="btn btn-success errors d-none">
                        <label>Успешно подключено</label>
                    </div>

                    <div class="btn btn-danger errors d-none">
                        <label>Ошибка при подключении</label>
                    </div>


                </div>
            </div>
            {# section #}


            <button class="btn btn-block btn-primary btn-lg btn-save">
                Сохранить настройки
                {% include "icons/open.svg" %}
            </button>
        </form>

        {# main-content #}
    </div>

{% endblock %}