{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

{% set navtitle = "Вход" %}
{% set navclasses = "signin" %}

<div class="main-content account-page text-center">

  <form action="/signin.php" method="post">
    <img class="mb-5" src="/assets/img/logo.png" alt="" width="300" height="69">
    <label for="inputEmail" class="sr-only">Электронная почта</label>
    <input type="email" name="email" id="inputEmailSignin" class="form-control" placeholder="Электронная почта" required="" autofocus="" autocomplete="off">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" name="password" id="inputPasswordSignin" class="form-control" placeholder="Пароль" required="" autocomplete="off">

    {% if data.error is defined and data.error %}
      <div class="alert alert-danger" role="alert">
          {{ data.error }}
      </div>
    {% endif %}

    <div class="mt-3">
      <button class="btn btn-lg btn-primary btn-block link-with-loader" type="submit">Войти</button>
    </div>
    <div class="mt-1">
      <u><a class="link-with-loader" href="/forgot.php">Забыли пароль?</a></u>
    </div>
    {% if data.reg is defined and data.reg %}
    <div class="mt-5">
      Ещё нет аккаунта?
    </div>
    <div class="mt-1">
      <a class="btn btn-lg btn-outline-primary btn-block btn-white link-with-loader" href="/signup.php">Регистрация</a>
    </div>
    {% endif %}
    <span></span>
  </form>

  {# section #}

{# main-content #}
</div>

{% endblock %}