{# add device screen #}

{% extends "core/layout.twig" %}


{% block body %}

{% set navtitle = "Вход" %}
{% set navclasses = "signin" %}

<div class="main-content account-page text-center">

  <form action="/signup.php" method="post">
    <img class="mb-5" src="/assets/img/logo.png" alt="" width="300" height="69">
    <label for="inputEmail" class="sr-only">Электронная почта</label>
    <input type="email" name="email" id="inputEmailSignup" class="form-control" placeholder="Электронная почта" required="" autofocus="" autocomplete="off">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" name="password" id="inputPasswordSignup" class="form-control"  placeholder="Пароль" required="" autocomplete="off">
    <select name="quest" id="inputQuestSignup" class="form-control" required="" size="1" autocomplete="off">
        <option disabled selected>Контрольный вопрос</option>
        <option>Имя домашнего животного</option>
        <option>Любимый фильм</option>
    </select>
    <input type="text" name="answer" id="inputAnswerSignup" class="form-control" placeholder="Ответ на контрольный вопрос" required="" autofocus="" autocomplete="off">



    {% if data.error is defined and data.error %}
      <div class="alert alert-danger" role="alert">
          {{ data.error }}
      </div>
    {% endif %}
    <div class="mt-5">
      <button class="btn btn-lg btn-primary btn-block link-with-loader" type="submit">Зарегистрироваться</button>
    </div>

    <div class="mt-4">
      <a class="btn btn-lg btn-outline-primary btn-block btn-white link-with-loader" href="/signin.php">Авторизация</a>
    </div>
    <span></span>
  </form>

  {# section #}

{# main-content #}
</div>

{% endblock %}