.add {
	background: url(images/button.png) no-repeat;
	text-align: center;
	width: 160px;
	height: 39px;
	padding: 13px 10px 0 0;
	margin: 0;
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
}
.add_main {
	background: url(images/button.png) no-repeat;
	text-align: center;
	width: 160px;
	height: 39px;
	padding: 13px 10px 0 0;
	margin: 0;
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
}
